[user]
	name = t-ye
	email = lightningleaf0@gmail.com

[alias]
	# Force push
	fpush = "!git add . && git commit -a --allow-empty-message -m \"\" && git push"
	makerepo = "!~/scripts/makerepo.sh"
	acp = "!~/scripts/gitacp.sh"
[push]
	# Allow push without explicit branch & remote
	default = simple
[core]
	excludesfile = ~/.gitignore
	editor=vim
[github]
	user = t-ye
